@page
@model Efc05SqlServerWeb.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get" class="form-inline">
    <label class="sr-only" for="Search">Search</label>
    <input type="text" name="Search" class="form-control mb-2 mr-sm-2" value="@Model.CurrentFilter" />           
    <input type="submit" value="Search" class="btn btn-primary mb-2 mr-1" /> <a asp-page="./Index" class="btn btn-secondary mb-2">Back to full List</a>   
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-order="@Model.NameSort" asp-route-filter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Exhibits[0].Name)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-order="@Model.YearSort" asp-route-filter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Exhibits[0].Year)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Exhibits) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
